<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <form method="get">
        <select name="room" id="">
            <option value="">- - - - </option>
            {% for i in user_chats %}
                <option value="{{i.id}}"
                
                {% if selected_chat == i %}
                    selected
                {% endif %}
                    >{{ i.name }}</option>
            {% endfor %}
                
        </select>
        <button type="submit">Otish</button>
    </form>
    
    {% if selected_chat %}
        <div id="chat-container">
            <div id="chat-messages">
                {% for message in chat_messages %}
                    <div>{{ message.sender }}: {{ message.text }} {{ message.created_at|date:"d-m-Y H:i"  }}</div>
                {% endfor %}
                
            </div>
            <input type="text" id="message-input" placeholder="Type a message...">
            <button id="send-button">Send</button>
            
                
        </div>
        
    {% endif %}
        

    <script>
        const chatSocket = new WebSocket('ws://' + window.location.host + '/api/v1/ws/chat/');

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.chat_id == "{{selected_chat.id}}") {
                const messageContainer = document.getElementById('chat-messages');
                const messageElement = document.createElement('div');
                messageElement.innerText = data.user.first_name + ': ' + data.message + " " + data.created_at;
                messageContainer.appendChild(messageElement);
            }
        };

        chatSocket.onopen = function (event) {
        console.log('WebSocket connection opened:', event);
    };

        // Event handler for when a message is received from the WebSocket server
        // chatSocket.onmessage = function (event) {
        //     const data = JSON.parse(event.data);
        //     console.log('WebSocket message received:', data);

        //     // You can also update the DOM or perform other actions with the received data
        //     // document.getElementById('output').innerHTML = 'Received message: ' + data.message;
        // };

        // Event handler for when the WebSocket connection is closed
        chatSocket.onclose = function (event) {
            console.log('WebSocket connection closed:', event);
        };

        // Event handler for errors
        chatSocket.onerror = function (event) {
            console.error('WebSocket error:', event);
        };


        document.getElementById('send-button').addEventListener('click', function () {
            const messageInput = document.getElementById('message-input');
            const message = messageInput.value;
            let res = chatSocket.send(JSON.stringify({
                'message': message,
            }));
            console.log(res)
            messageInput.value = '';
        });
    </script>
</body>
</html>
