<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
    <style>
        .d-none {
            display: none;
        }
    </style>
<body>
    <form style="margin-bottom: 2rem;" method="get">
        <select id="chat_select" name="room" id="">
            <option value="0">- - - - </option>
            {% for i in user_chats %}
                <option value="{{i.id}}"
                
                {% if selected_chat == i %}
                    selected
                {% endif %}
                    >{{ i.name }}</option>
            {% endfor %}
                
        </select>
    </form>
    
    {% for i in user_chats %}
        <div class="chat-container d-none" data-id="{{i.id}}" id="chat-container{{i.id}}">
            <div id="chat-messages{{i.id}}">
                {% for message in i.messages.all %}
                    <div>{{ message.sender }}: {{ message.text }} {{ message.created_at|date:"d-m-Y H:i"  }}</div>
                {% endfor %}
                
            </div>
            <input type="text" id="message-input{{i.id}}" placeholder="Type a message...">
            <button id="send-button{{i.id}}">Send</button>
        </div>
    {% endfor %}

    <script>
        let select = document.querySelector('#chat_select')
        var elements = document.querySelectorAll('.chat-container')
        select.addEventListener('change', function() {
            elements.forEach(function(element) {
                if (!element.classList.contains("d-none")) {
                    element.classList.add("d-none");
                }
            })
            try {
                document.querySelector('#chat-container' + select.value).classList.remove('d-none')
            }
            catch {}
        })
    </script>
        

    <script>
        const chatSocket = new WebSocket('ws://' + window.location.host + '/api/v1/ws/chat/');

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const messageContainer = document.getElementById('chat-messages' + select.value);
            const messageElement = document.createElement('div');
            messageElement.innerText = data.user.first_name + ': ' + data.message + " " + data.created_at;
            messageContainer.appendChild(messageElement);
        };

        chatSocket.onopen = function (event) {
        console.log('WebSocket connection opened:', event);
    };

        // Event handler for when a message is received from the WebSocket server
        // chatSocket.onmessage = function (event) {
        //     const data = JSON.parse(event.data);
        //     console.log('WebSocket message received:', data);

        //     // You can also update the DOM or perform other actions with the received data
        //     // document.getElementById('output').innerHTML = 'Received message: ' + data.message;
        // };

        // Event handler for when the WebSocket connection is closed
        chatSocket.onclose = function (event) {
            console.log('WebSocket connection closed:', event);
        };

        // Event handler for errors
        chatSocket.onerror = function (event) {
            console.error('WebSocket error:', event);
        };
        
        elements.forEach(function(element) {
            let id = element.getAttribute('data-id')
            document.getElementById(`send-button${id}`).addEventListener('click', function () {
                const messageInput = document.getElementById(`message-input${id}`);
                const message = messageInput.value;
                let res = chatSocket.send(JSON.stringify({
                    'message': message,
                    "kwargs": {
                        'chat_id': parseInt(id)
                    }
                }));
                messageInput.value = '';
            });

        })
    </script>
</body>
</html>
